In [24]:
import os
import sys
from pathlib import Path
import os.path as osp
sys.path.append(osp.join(os.getcwd(), ".."))
from src import load_pickle
import pandas as pd
# sys.path.append(str(Path(__file__).resolve().parent.parent))
# from src import load_pickle

In [25]:
root_dir = "/media/mtybilly/My Passport1/Program/GLLM/"
data_dir = osp.join(root_dir, "data")
process_dir = osp.join(data_dir, "processed")
table_dir = osp.join(process_dir, "wikitablequestions", "pretrain", "plaintext_tables.pickle")

In [26]:
input_data = load_pickle(table_dir)
tables = input_data["tables"]
qas = input_data["qas"]

In [47]:
table = tables["table_7"]
df = pd.DataFrame(table["rows"], columns=table["header"])
df

   Year          Competition                   Venue  Position   Notes
0  1996        Olympic Games  Atlanta, United States  36th (q)  5.55 m
1  1998          Asian Games       Bangkok, Thailand       8th  6.07 m
2  1999  World Championships          Seville, Spain  23rd (q)  6.40 m
3  2000        Olympic Games       Sydney, Australia  14th (q)  6.57 m
4  2001  World Championships        Edmonton, Canada  13th (q)  6.46 m
5  2002  Asian Championships      Colombo, Sri Lanka       1st  6.61 m
6  2002          Asian Games      Busan, South Korea       3rd  6.30 m
7  2003  World Championships           Paris, France  23rd (q)  6.13 m
8  2003  Asian Championships     Manila, Philippines       6th  6.23 m
9  2004        Olympic Games          Athens, Greece      11th  6.53 m

In [46]:
print(f"Title: {table['title']} \nSummary: {table['summary']}")

Title: [TST] Performance History of a Soccer Team in US Leagues (2001-2010) [TED]
Summary: [SST] This table provides a detailed overview of a soccer team's performance in various US leagues from 2001 to 2010. The team's division, league, regular season standings, playoff results, Open Cup participation, and average attendance figures are included for each year. The team's journey from the USL A-League to the USSF D-2 Pro League is highlighted, showcasing their progress and achievements over the years. [SED]